body {
    background-color: black;
}

.fundo {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin-left: 20%;
    margin-top: 38px;
    background-image: url('img/TWDbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center;
    animation: moverfundo 5s ease-in-out,  3s ease-in-out;
    animation-fill-mode: forwards;
}

.retanguloleft {
    width: 380px;
    height: 100%;
    background-color: rgb(15, 15, 15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes moverfundo  {
    0% {
        background-position: center bottom;
    }
    100% {
        background-position: center -12%;
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.retangulo {
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.wretangulo {
    width: 150px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 3;
    text-align: center;
}

#imgmenor {
    width: 120px;
    height: 85px;
    position: relative;
}

.retangulobaixo {
    width: 100%;
    height: 600px;
    background-color: black;
    position: absolute;
    left: 0;
    margin-top: 800px;
    z-index: 2;
}

#imgfundo {
    width: 100%;
    height: auto;
    max-height: 100%;
    z-index: 1; 
    left: 20px;
    margin-top: 40px;
    left: 0;
}

.fundo {
    top: 0;
    left: 0;
    position: absolute;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 4px;
    border-color: white;
    transition: transform 0.5s ease-in-out;
}

button:hover {
    transform: translateY(-5px);
}

.prototipo1 {
    width: 380px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    margin-top: 85px;
    z-index: 3;
    animation: entradaesquerda 2s ease-in-out;
}

.prototipo2 {
    width: 380px;
    height: 150px;
    background-color: rgb(201, 201, 201);
    position: absolute;
    left: 0;
    margin-top: 235px;
    z-index: 3;
    animation: entradaesquerda 2.5s ease-in-out;
}

.prototipo3 {
    width: 380px;
    height: 150px;
    background-color: rgb(177, 176, 176);
    position: absolute;
    left: 0;
    margin-top: 385px;
    z-index: 3;
    animation: entradaesquerda 3s ease-in-out;
}

.prototipo4 {
    width: 380px;
    height: 150px;
    background-color: rgb(104, 104, 104);
    position: absolute;
    left: 0;
    margin-top: 535px;
    z-index: 3;
    animation: entradaesquerda 3.5s ease-in-out;
}

@keyframes entradaesquerda {
    0% {
        transform: translateX(-380px);
    }
    100% {
        transform: translateX(0px);
    }
}